PORT=xxxx
FRONTEND_URL=xxxxxxx
CLOUDINARY_CLIENT_NAME=xxxxxx
CLOUDINARY_CLIENT_API=xxxxxx
CLOUDINARY_CLIENT_SECRET=xxxxxx
JWT_SECRET_KEY=xxxxx
JWT_EXPIRE=xx
MONGODB_CLOUD_URL=xxxxxxxxxxxxxxxxxxxxxxxxxx
COOKIE_EXPIRE=xx